.item_styles {
    display: flex;
    gap: 10px;
}

.item {
    border: 1px solid skyblue; 
    cursor: pointer;
    color: blue;
    border-radius: 10px;
    padding: 10px; 
    transition: background-color 0.3s ease; 
}

.item:hover {
    background-color: lightblue; 
}
.search_item{
    display: flex;
    align-items: center;
    gap:50px
}
.searchBar {
    padding: 10px;
    border: 2px solid skyblue;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}
.delete_icon {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}
